<div class="jumbotron py-3">
    <h1 class="display-4 text-center">Client Detail Register</h1>
</div>
<div class="row" >
    <div class="col-md-5">
        <app-client-details-form >
    <div class="col-md-7">
        <div>table with list of records from the table</div>
        <table class="table" ngif="clientList">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Client Username</th>
                    <th scope="col">Password</th>
                    <th scope="col">Zone ID</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Client of clientList , let i = index" >
                    <th scope="row">{{i}})</th>
                    <td>{{Client.clientName}}</td>
                    <td>{{Client.password}}</td>
                    <td>{{Client.zoneID}}</td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(Client.clientId)"></i>
                    </td>
                    <td>
                        <button class="btn btn-primary" (click)="editItem()">Edit</button>
                        <button class="btn btn-primary" (click)="deleteItem()">Delete</button>
                    </td> 
                </tr>
        </tbody>
        </table>
</div>
